.category-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.category-filters button {
  background-color: #6c757d;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.category-filters button:hover {
  background-color: #343a40;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: grid;
  grid-row: 6;
  height: 360px;
  margin: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 220px;
}

.recipe-card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-name {
  text-align: center;
}

.header-input {
  background-color: white;
  border: none;
}

.recipe-img {
  background-color: white;
  border: none;
}
